@page
@model OnlineVideoGamePortal.Pages.Gamers.DeleteModel

@{
    ViewData["Title"] = "Delete Entry";
}

    <h1>Are you sure you want to delete this?</h1>
<div>
    <h4>GamerInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.PreferredVideoGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.PreferredVideoGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.GamesPurchased)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.GamesPurchased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.FavGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.FavGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.DateJoined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamerInfo.IsActiveCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamerInfo.IsActiveCustomer)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GamerInfo.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
