@page
@model OnlineVideoGamePortal.Pages.VideoGames.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Video Game Catalogue</h1>
<p>
    <a asp-page="Create"><b><u>Create New Video Game</u></b></a>
</p>
<div class="row">
    <div class="col-md-6">
        <p>
            <img src="http://tugrul.dbsdataprojects.com/wp-content/uploads/sites/162/2017/03/videogames.png" />
            </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].MemorySpace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].IsSportsGame)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoGame[0].IsAvailable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VideoGame)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemorySpace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSportsGame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAvailable)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.VideoGameID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.VideoGameID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.VideoGameID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
